[submodule "To-do-list-frontend"]
	path = To-do-list-frontend
	url = https://github.com/dheerajjames/To-do-list-frontend
[submodule "Todo-list-backend"]
	path = Todo-list-backend
	url = https://github.com/dheerajjames/Todo-list-backend
